@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js";

body{
    background-color: #ddd;
}

a{
    padding-left: 10px ;
}

#perfil{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

#carrinho {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.container{
    width: 100%;
    display: flex;
}

main{
    width: 97%;
    margin-top: 50px;
}

.content{
    display: flex;
}

section{
    min-width: 400px;
    background-color: #ddd;
    display: block;
}

section img{
    width: 400px;
    height: 400px;
}

.img{
    background-color: #ddd;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img{
    width: 300px;
    height: 300px;
}

section h3{
    margin: 10px 50px;
    font-size: 25px;
    text-transform: uppercase;
}

.star{
    margin: 10px 50px;
}

.avaliacao{
    margin: 20px 50px;
}

.avaliacao h5{
    margin-bottom: 20px;
}

.avaliacao p{
    font-weight: bold;
}

aside{
    flex: 1;
    background-color: #ddd;
}

aside h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 30px 20px;
}

aside #preco{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 10px 20px;
}

aside #texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #aaa;
    margin: 10px 20px;
}

.cores{
    display: flex;
    margin: 20px 20px;
}

.preto{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #000;
    margin-right: 10px;
    border: 1px solid #000;
}

.prata{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #c0c0c0;
    border: 1px solid #000;
}

.gotocar{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

#comprar{
    text-decoration: none;
    color:  rgb(12, 85, 12);
    background-color: transparent;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 4px;
}

#comprar:hover{
    background-color: rgb(12, 85, 12);
    color: #fff;
    font-weight: bold;
}

.gotocar .quant{
    margin-left: 10px;
}

.quant{
    background-color: #eee;
    display: inline-flex;
    justify-content: space-around;
    width: 90px;
    height: 30px;
    overflow: hidden;
    border-radius: 20px;
}

.quant span{
    margin: 3px 10px;

}

.quant button{
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 20x;
    height: 100%;
}

.quant button:hover{
    background-color: #ddd;
}

.avaliacao1{
    width: 100%;
    margin-top: 60px;
}

.campo1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.data{
    font-weight: bold;
    margin-right: 20px;
}

.campo2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nome{
    font-weight: bold;
    margin-right: 20px;
}

.textin{
    font-size: 17px;
    margin: 0 20px;
    text-align: justify;
}
